* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: #fff;
}

.memory-game {
  width: 80%;
  height: 75%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  }

.memory-card {
  width: calc(33.333% - 20px);
  height: calc(16.666% - 10px);
  margin: 10px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .2s;
  
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
  z-index: 2;
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 5%;
  border-radius: 5%;
  position: absolute;
  background: #616161;
  backface-visibility: hidden;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  box-shadow: 3px 3px 5px #666666;
  font-size: 2vw;
  text-align: center;
}
.front-face{
  background: #fff;
  box-shadow: 2px 2px 4px #666666;
}

.newStyleOne {background: rgb(51,102,87,0.4);}
.newStyleTwo {background: rgb(51,76,51,0.4);}
.newStyleThree {background: rgb(120,110,57,0.4);}
.newStyleFour {background:  rgb(115,91,70,0.4);}
.newStyleFive {background: rgb(162,126,104,0.4);}
.newStyleSix {background: rgb(153,119,55,0.4);}
.newStyleSeven {background: rgb(161,138,61,0.4);}
.newStyleEight {background: rgb(153,153,135,0.4);}
.newStyleNine {background: rgb(102,51,0,0.4);}

.newStyleOne, .newStyleTwo, .newStyleThree, .newStyleFour, .newStyleFive, .newStyleSix, .newStyleSeven, .newStyleEight, .newStyleNine  {
  transition-property: background;
  transition-duration: 2s;
}

.front-face {
  transform: rotateY(180deg);
}

/* WIN BOX BELOW */

#win {
  display: none; 
  position: absolute;
  z-index: 3;
  margin: auto;
  width: 100%;
}
#winner{
  display: flex;
  height: 12%;
  align-content: flex-start;
  justify-content: center;
  flex: auto;

}

#winner > div{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vw;
  color: #333333;
  padding: 20px;
}

#play-again {
  background-color: #616161;
  box-shadow: 3px 3px 5px #555555;
  opacity: 1;
  font-size: 1.5vw;
  color: #fff;
  padding-top: .33em;
  padding-bottom: .33em;
  padding-right: .66em;
  padding-left: .66em;
  border-radius: 5%;
  
  cursor: pointer;
  border: none;
}

#play-again:hover {
  background-color: #444444;
}































